{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <div class="container-lg">
        <h3>HISTORY</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transaction date</th>
                </tr>
            </thead>

            <tbody>
                {% for i in history %}
                <tr>
                    <td>{{ i["symbol"]}}</td>
                    <td>{{ i["shares"]}}</td>
                    <td>{{ i["price"] | usd }}</td>
                    <td>{{ i["date"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}